//sec6 img_box
.board_area{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 ;
  section{
    position: relative;
    width: 273px;
    height: 271px;
    float: left;
    position: relative;
    overflow: hidden;

    .img_area{
      position: relative;
      width: 100%;
      height: 188px;
      overflow: hidden;
      margin-bottom: 15px;
      .img{
        position: relative;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s;
        transform: scale(1.1);
        overflow: hidden;
        &:hover{
          transform: scale(1.2);
        }
      }//img
      .new_box{
        position: absolute;
        bottom:0;
        width: 82px;
        height: 32px;
        color: #fff;
        text-align: center;
        line-height: 32px;
        z-index: 1;
        font-size: 14px;
        overflow: hidden;
        font-weight: 600;
      }
    }//img_area
    .description{
      float: left;
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: -2.5px;
      line-height: 1.6rem;
      word-break: break-all;
    }
  }//section
}
.board_area1{
  h2{
    padding-bottom: 20px;
  }
  section{
    position: relative;
    width: 273px;
    height: 152px;
    float: left;
    position: relative;
    overflow: hidden;

    .img_area{
      position: relative;
      width: 100%;
      height: 188px;
      overflow: hidden;
      border: 0;
      margin-bottom: 15px;
      .img{
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url("../img/new_card/new_card01.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s;
        transform: scale(1.0);
        border: 0;
        &:hover{
          transform: scale(1.1);

        }
      }//img
      .new_box{
        position: absolute;
        bottom:0;
        width: 82px;
        height: 32px;
        color: #fff;
        text-align: center;
        line-height: 32px;
        z-index: 1;
        background: #c35c3c;
        font-size: 14px;
        font-weight: 600;
      }
    }//img_area
    .description{
      float: left;
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: -2.5px;
      line-height: 1.6rem;
    }
  }//section
}
//이미지 끼우기
.img{
  cursor: pointer;
  &.img01{
    background: url("../img/new_card/new_card01.jpg");
  }
  &.img02{
    background: url("../img/new_card/new_card02.jpg");
  }
  &.img03{
    background: url("../img/new_card/new_card03.jpg");
  }
  &.img04{
    background: url("../img/new_card/new_card04.jpg");
  }
  &.img05{
    background: url("../img/new_card/new_card05.jpg");
  }
  &.img06{
    background: url("../img/new_card/new_card06.jpg");
  }
  &.img07{
    background: url("../img/new_card/new_card07.jpg");
  }
  &.img08{
    background: url("../img/new_card/new_card08.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
//서울 영상 img class 재할당
.board_area1 section{
    width: 280px;
    height: 220px;
    padding: 0 20px 0 0;
  .img_area{
    box-sizing: border-box;
    position: relative;
    height: 150px;
    overflow: hidden;
    .img{
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 100%;
      &.img09{
        background: url("../img/new_card/new_card09.jpg");
      }
    }
    .text{
      position: absolute;
      width: 280px;
      height: 27px;
      left: 0;
      box-sizing: border-box;
      bottom: 0;
      color: #f1f1f1;
      background: rgba(000,000,000,.5);
      overflow: hidden;
      font-size: 16px;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
}
//new_tag color
.new_work{
  background: #028ab6;
}
.new_well{
  background: #d76000;
}
.new_cul{
  background: #9b64d3;
}
.new_home{
  background: #c35c3c;
}
.new_soule{
  background: #000;
  opacity: .7;
}
//sec6 end

// 게시글 테이블
p{
  margin-top: 5px;
  &:first-child{
    margin-top: 0;
  }
  .grenn{
    font-size: 16px;
    color: #09ac43;
    font-weight: 400;
    margin-right: 18px;
  }
  .n_item{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

// 전체보기 +
.all{
  position: absolute;
  background: url("../img/res_soule/icon_set.png") no-repeat 0 -259px;
  right: 0;
  a{
    font-size: 15px;
    color: #7d7d7d;
    display: inline-block;
    width: 100%;
    }
}
