//initial
.inner{
  width: $siteWidth;
  overflow: hidden;
  height: auto;
  margin: 0 auto;
}

body{ font-family: 'Noto Sans KR', sans-serif; letter-spacing: 3px;}
//mixin으로 설정해둔 값 넣을때.
.row{
  overflow: hidden;
  width: 100%;
  [class^=col]{
    float: left;
    margin-left: $gutterWidth;
    box-sizing: border-box;
    &:first-child{
      margin-left: 0;
    }
  }
}

//layout clas

#wrap{
  width: 100%;
  height: 100%;
  #header{
    letter-spacing: 3px;
    position: relative;
    width: $siteWidth;
    margin: 0 auto;
    overflow: hidden;

    #top_area{
      .logo{
          position: relative;
          float: left;
          overflow: hidden;
          a{
            display: block;
            width: 105px;
            height: 27px;
            margin-top: 8px;
            background-image: url("../img/res_soule/icon_set.png");
            background-repeat: no-repeat;
            background-position: -5px -165px;
          }//a
        }//rogo
      width: 100%;
      float: left;
      font-size: $fontSizePrimary;
      font-weight: 500;
      position: relative;
      #gnb{
        position: relative;
        width: 100%;
        float: left;
        height: 56px;
        #menu_left{
          float: left;
          font-weight: 800;
          padding-left: 22px;
        }//menu_left
        #menu_right{
          float: right;
          font-weight: 700;
          font-size: $fontSizeSmall;
        }
        ul{
          float: left;
          li{
            float: left;
            margin-left: 19px;
            a{line-height: 3.3rem;
            }
          }
        }
      }
    }//top area
    #surch_box{
      .surch_inner{
        display: inline-block;
        position: relative;
        width: $siteWidth;
        height: 120px;
        overflow: hidden;
        .surch_logo{
          display: inline-block;
          position: relative;
          float: left;
          margin: 30px 0 30px;
          overflow: hidden;
          a{
            display: block;
            width: 220px;
            height: 50px;
            background-image: url("../img/res_soule/seoul_surchLogo.png");
            background-repeat: no-repeat;
            background-position: 0 0;
          }
        }
        .surch{
          display: inline-block;
          position: relative;
          left: 5%;
          width: 460px;
          height: 40px;
          border: 3px solid $pointColor;
          box-sizing: border-box;
          margin: 30px 0 30px;
          overflow: hidden;
          img{
            position: absolute;
            width: 29px;
            height: 16px;
            right: 40px;
            top: 10px;
          }
          .btn_TopSearch{
            position: relative;
            width: 36px;
            height: 36px;
            float: right;
            border: 0;
            background: white;
            background-image: url("../img/res_soule/icon_set.png");
            background-position: -32px -99px;
            background-repeat: no-repeat;
          }
          input{
            position: absolute;
            outline: 0;
            width: calc(100% - 40px);
            height: 100%;
            border: 0;
            padding: 0 10PX;
            &::placeholder{
              font-weight: 300;
              color:$pointColor;
            }
          }
        }
        #lang_site{
          position: absolute;
          right: 0;
          top: 0;
          width: 138px;
          height: 31px;
          select{
            float: left;
            width: 100px;
            height: auto;
            color: $site_langColor;
            font-size: $fontSizeDescription;
            border: 1px solid $langBorderColor;
            padding: 0 0 0 2px;
            line-height: 21px;
            appearance:none;
            z-index: -1;
            background-image: url("../img/res_soule/bg_select_arrow.png");
            background-repeat: no-repeat;
            background-position: 95% center;
            background-size: 10%;
            &:focus{
              box-shadow: 0;
              outline: 0;
            }
            }
          }//slect
          .select_btn{
            position: absolute;
            background: $btnLangColor;
            border-radius: 0;
            border: 0;
            color: #fff;
            display: inline-block;
            font-size: $fontSizeDescription;
            line-height: 20px;
            width: 38px;
            height: 24px;
          }
        }//lang_site
        .info_weather{
          width: 260px;
          height: 85px;
          float: right;
          margin: 15px 0 0 30px;
          text-align: right;
          .txt_area{
            letter-spacing: 2px;
            max-width: 242px;
            display: inline-block;
            margin-top: 10px;
            margin-left: 5px;
            float: left;
            p{
              text-align: left;
              line-height: 20PX;
              &:last-child{
                font-weight: 300;
                margin-top: 2px;
              }//lastchild
            }//text-align
            a{
              &:first-child{
                .w_deg{
                  font-size: $fontSizeTitle;
                }
                .w_txt1{
                  font-size: $fontSizePrimary;
                }
              }
              &:last-child{
                font-size: $fontSizeDescription;
              }
            }
          }
        }
      }
    }//header
  .sec1{
    height: 350px;
    overflow: hidden;
    .slide{
      position: relative;
      width: 770px;
      height: 100%;
      float: left;
      background: red;

    }
    .corona_wrap{
      float: right;
      width: 360px;
      height: 350px;
      background: blue;
    }
  }
}//wrap

// slide section
//ico_main img
.ico_main{
  background: url("../img/res_soule/ico_main.png");
}
